body {
    background:linear-gradient(to right, #747f83 0%, #385D6C 50%, #78a7ba 99%);
    color: white;
  }
  
  .signup-form {
    font-family: "Roboto", sans-serif;
    width:650px;
    margin:30px auto;
    background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
    border-radius: 10px;
  }
  
  .form-header  {
    border: 9px solid rgb(72, 75, 240);
    background-color:#2d3333 ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flexbox;
    width: fit-content;
    padding:20px ;
    border-bottom:1px solid #cccccc;
     margin:30px auto;
    animation-name: look;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

}  
  
  
  .form-header h1 {
    font-size: 30px;
    text-align:center;
    color:#666;
    padding:20px 0;
    border-bottom:1px solid #cccccc;
  }
  .glow {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow:active {
    color: #000
}

.glow:active:after {
    background: transparent;
}

.glow:hover:before {
    opacity: 1;
}

.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#7F8C8D ;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@keyframes look {
    0% {  border: 9px solid rgb(53, 56, 236);}
    15% {  border: 9px solid rgb(230, 22, 160);}
    25% {  border: 9px solid rgb(10, 240, 41);}
    45% {  border: 9px solid rgb(8, 195, 241);}
    50% {  border: 9px solid rgb(188, 238, 8);}
    75% {  border: 9px solid rgb(187, 6, 223);}
    100% {  border: 9px solid rgb(235, 12, 12);}
}

